<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-head('create post')"></head>

<body>

<form th:action="@{/posts/create}" th:method="post" th:object="${post}">

    <h2>Create Post Form</h2>

    <br>

    <label for="title">Title</label>
    <input th:field="*{title}" id="title" type="text">

    <br>

    <label for="body">Body</label>
    <input th:field="*{body}" id="body" type="text">

    <br>

    <input type="submit" value="create post">

</form>

</body>
</html>