<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-head('Dice Roll')"></head>
<body>
<nav th:replace="fragments/navbar :: mainNav"></nav>
<div class="container">

    <p th:text="${guess}"></p>
    <p th:text="${randomNum}"></p>

    <p th:if="${isCorrect}">You guessed right</p>
    <p th:if="${!isCorrect}">You guessed wrong</p>
    <a href="/roll-dice/1">1</a>
    <a href="/roll-dice/2">2</a>
    <a href="/roll-dice/3">3</a>
    <a href="/roll-dice/4">4</a>
    <a href="/roll-dice/5">5</a>
    <a href="/roll-dice/6">6</a>


</div>
</body>
</html>